/* :root {
} */
* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #d0cff3;
}
::placeholder {
	color: #06044b;
	opacity: 1;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #fbfbfd;

	background: linear-gradient(to bottom, #3402b9, #2e0699, #06044b) no-repeat center center fixed;

	min-width: 100%;

	margin: 0;
	padding: 0;
}
h2 {
	font-size: 50px;
	font-variant: small-caps;

	width: fit-content;

	margin: 0;
}
p {
	color: #8a87b3;
	font-size: 23px;

	text-align: left;
}
div {
	margin-bottom: 30px;
}
div a {
	text-decoration: none;
	font-variant: small-caps;
}
.HeaderSection {
	width: 40%;

	position: relative;
	top: 270px;
	left: 12vw;

	display: block;

	z-index: 1;

	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.ParagraphSection {
	width: 40%;

	position: relative;
	top: 270px;
	left: 12vw;

	z-index: 1;
}
.ImgSection {
	position: absolute;
	left: 60%;
}
#Menu {
	background-color: rgba(0, 0, 0, 0.1);
	color: #d0cff3;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	width: 100%;
	height: 50px;

	padding: 10px;
	margin: 0;

	text-align: center;
	font-variant: small-caps;

	justify-content: space-between;
}
#Menu ul {
	margin: 0;
	padding: 0;
	height: 50px;
}
.MenuItem {
	display: inline;
	margin-left: 70px;
}
.MenuItem a {
	text-decoration: none;
	color: #d0cff3;
}
.MenuItem a:hover {
	cursor: pointer;

	color: #e9e9e9;
	font-size: large;
}
#Logo {
	position: relative;
	margin: 0;
}
#Logo img {
	animation: pulse;
	animation-duration: 3s;
}
#Home {
	/* background-color: rgba(41, 41, 41, 0.3); */
	width: 100%;

	z-index: 0;

	margin-top: 50px;

	width: 100%;
	height: 900px;

	text-align: center;
}

#Home img {
	top: 280px;
}
#Sobre {
	/* background-color: rgba(41, 41, 41, 0.3); */

	z-index: 0;

	width: 100%;
	height: 900px;

	text-align: center;
}
#Sobre img {
	top: 1220px;
}
#Projects {
	/* background-color: rgba(41, 41, 41, 0.3); */
	box-sizing: content-box;

	z-index: 0;
	width: 100%;

	height: fit-content;
}
#Projects .HeaderSection {
	top: 10px;

	left: 0;

	width: 100%;

	text-align: center;

	margin: 0;
}
#Projects img {
	top: 2110px;
	left: 55%;

	border-radius: 25px;
}
#Conteiner {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;

	width: 100%;
}
#Conteiner > div {
	width: 400px;
	height: 300px;

	margin: 30px;
	padding: 20px;

	text-align: center;
}
#Conteiner > div:hover {
	border-radius: 15px;

	background-color: rgba(0, 0, 0, 0.1);

	animation: tada;
	animation-duration: 1s;
}
#Contato {
	z-index: 0;

	width: 100%;
	height: 900px;

	text-align: center;
	align-content: center;
}
#Contato input {
	height: 40px;
	color: #06044b;
}
#Contato input,
#Contato textarea {
	background-color: #e9e9e9c2;
	color: #06044b;

	width: 20vw;

	margin-bottom: 20px;

	outline: none;

	border-style: solid;
	border-color: transparent;
	border-radius: 15px;
}
#Contato button {
	background-color: #2e0699;

	width: 100px;
	height: 40px;

	border-radius: 15px;
	border-style: solid;
	border-color: transparent;
}
#Contato button:hover {
	background-color: #25057c;
}
#Contato .HeaderSection {
	left: 0;

	width: 100%;

	top: 10px;

	text-align: center;

	margin: 0;
}
#Contato img {
	left: 70%;
	top: 2680px;
}

.form {
	width: 50%;
	height: max-content;

	margin-left: auto;
	margin-right: auto;

	left: 0;

	box-shadow: 8px 8px 60px black;

	border-radius: 10px;

	padding: 40px;
	margin-top: 30px;

	align-content: center;

	background-color: #3302b900;
}
#redes {
	align-items: center;
}
.contato__redes {
	margin: 20px;
}
.contato__redes i:hover {
	animation: tada;
	animation-duration: 1s;
}
@media (min-width: 810px) {
	#Bars {
		display: none;
	}
}
@media (max-width: 1320px) {
	p {
		font-size: 20px;
	}
	#Menu {
		text-align: start;
	}
	#Home,
	#Sobre {
		text-align: start;
	}
	.HeaderSection,
	.ParagraphSection {
		width: 90%;

		left: 0;

		margin-left: 10px;
	}
	#Sobre img,
	#Home img {
		left: 55%;
	}
	#Home img {
		left: 1%;
		top: 520px;

		vertical-align: bottom;
	}
	#Sobre img {
		left: 1%;
		top: 1500px;

		vertical-align: bottom;
	}
	#Projects img {
		left: 1%;
		top: 2600px;

		vertical-align: bottom;
	}
	#Projects .HeaderSection {
		position: relative;

		width: fit-content;

		left: 0;

		margin: 10px;
	}
	#Conteiner {
		width: 100%;

		flex-direction: row;
		justify-content: center;
		align-content: center;
	}
	#Contato .HeaderSection {
		position: flex;

		width: fit-content;

		align-self: center;

		margin-left: 10px;
	}
	#Contato input,
	#Contato textarea {
		width: 70%;
	}
	.form {
		position: static;
		width: 50%;

		margin-left: auto;
		margin-right: auto;

		left: 0;
	}
}
@media (max-width: 570px) {
	#Logo {
		display: flex;
		bottom: 50%;
		left: 5%;
	}
	#Home img {
		left: 1%;
		top: 540px;

		vertical-align: bottom;
		width: 100%;
	}
	#Sobre img {
		left: 1%;
		top: 1510px;

		vertical-align: bottom;
		width: 100%;
	}
	#Projects img {
		left: 1%;
		top: 3900px;

		vertical-align: bottom;
		width: 100%;
	}
	.HeaderSection,
	.ParagraphSection {
		width: 95%;

		left: 0;
		top: 200px;

		margin-left: 10px;
	}
	.HeaderSection {
		font-size: 9vw;
	}
	.ParagraphSection {
		font-size: 3.5vw;
	}
	#Conteiner {
		width: 100%;
	}
	.form {
		width: 90%;
	}
}
@media (max-width: 809px) {
	.MenuItem a {
		display: none;
	}
	#Bars {
		margin: 0;
	}
	#Menu {
		text-align: start;
	}

	#Home {
		text-align: start;
	}
}
